@import url('https://fonts.googleapis.com/css2?family=Questrial:wght@300,400,500,600,700&family=Roboto:wght@300&display=swap');


body {
    font-family: "Questrial", sans-serif;
    color: #fafafafa;
    background-color: whitesmoke;
}

.text-uppercase {
    text-transform: uppercase;
}


/* ----------------------------------- Header */

.page-header {
  height: 175px;
  margin: 0 auto;
  background-color: rgb(173, 74, 74);
  border-bottom: 2px solid #fafafafa;
  z-index: 1;
}

.heading-text {
  display: inline;  
  text-align: center;
  margin-top: 30px;
}

.heading-text h1 {
    color: #fafafafa;
    font-size: 300%;
    padding-top: 10px;
}

.heading-text p {
    margin-bottom: 30px;
}

.heading-anchor,
.heading-anchor:hover {
    color: #fafafafa;
    text-decoration: none;
}

#header-logo {
    font-size: 300%;
    float: left;
    margin-top: 10px;
}


/* ----------------------------------- Menu Bar */

#menu-bar {
    text-align: center;
    font-size: 100%;
    list-style-type: none;
    margin-top: 20px;
}

#menu-bar li {
    color: #353333fa;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 50px;
}

#menu-bar a {
    text-decoration: none;
    color: #353333fa;
}

#menu-bar a:hover {
    border-bottom: 1px dotted #353333fa;
    color: gold;
}

.active {
    border-bottom: 1px solid #353333fa;
}



/* ----------------------------------- Front page content */


#front-page-image {
    height: 1100px;
    width: 100%;
    background-position: 50% 50%;
    background: url(../images/front-page-image.jpg) no-repeat center center;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;

    /* INSPIRED BY CODE INSTITUTE, LOVE RUNNING PROJECT*/
animation-name: front-image-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}

#front-page-image-out {
    height: 900px;
    width: 100%;
    overflow: hidden;
}

@keyframes front-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


/* ----------------------------------- Footer */

footer {
    width: 100%;
    height: 100px;
    background-color: rgb(173, 74, 74);
    padding-top: 5px;
    padding-bottom: 0px;
    border-top: solid 2px #fafafafa;
    z-index: 1;
}

footer p {
    float: right;
    padding-top: 15px;
    padding-left: 15px;
}

footer a {
    color: #fafafafa;
    text-decoration: none;
    padding-right: 10px;
}

footer a:hover {
    color: gold;
}

footer span {
    margin-right: 10px;
}

.footer-logo {
    font-size: 300%;
    float: left;
    padding-top: 15px;
    padding-left: 15px;
}

.footer-logo a:hover {
    color: gold;
}

.footer-center {
    text-align: center;
    padding-top: 10px;
}

.find-us-on {
    padding-bottom: 10px;
}



/* ----------------------------------- Gallery Page */



.weddings-gallery {
    background-image: url(/assets/images/gallery-top-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 40%;
    height: 350px;
    padding-top: 240px;
    padding-bottom: 40px;
    padding-left: 25px;
    overflow: hidden;
    border:#fafafafa solid 1px;
}



.gallery-window {
    padding-top: 20px;
    background-color:rgb(173, 74, 74);
}

.card-deck {
    padding-top: 15px;
}

.double-window {
    padding: 10px 5px;
}



.card-title {
    
    font-style: italic;
    font-weight: 600;
    
}

.card h5:hover {
    color: gold;
}

.card a {
    text-decoration: none;
    color: #fafafafa;
}

.card-body {
    background-color:rgb(173, 74, 74);
}
