@import url('https://fonts.googleapis.com/css2?family=Questrial:wght@300,400,500,600,700&family=Roboto:wght@100,200,300,400,500,600,700&display=swap');


body {
    font-family: "Questrial", sans-serif;
    color: #fafafafa;
    background-color: whitesmoke;
}

.text-uppercase {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* ----------------------------------- Header */

.page-header {
  height: 175px;
  margin: 0 auto;
  background-color: rgb(173, 74, 74);
  border-bottom: 2px solid #fafafafa;
  z-index: 1;
}

.heading-text {
  display: inline;  
  text-align: center;
  margin-top: 30px;
}

.heading-text h1 {
    color: #fafafafa;
    font-size: 300%;
    padding-top: 10px;
}

.heading-text p {
    margin-bottom: 30px;
}

.heading-anchor,
.heading-anchor:hover {
    color: #fafafafa;
    text-decoration: none;
}

#header-logo {
    font-size: 300%;
    float: left;
    margin-top: 10px;
}


/* ----------------------------------- Menu Bar */

#menu-bar {
    text-align: center;
    font-size: 100%;
    list-style-type: none;
    margin-top: 20px;
}

#menu-bar li {
    color: #353333fa;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 50px;
}

#menu-bar a {
    text-decoration: none;
    color: #353333fa;
    transition: all 0.35s ease-in-out;
}

#menu-bar a:hover {
    border-bottom: 1px dotted #353333fa;
    color: gold;
}

.active {
    border-bottom: 1px solid #353333fa;
}



/* ----------------------------------- Front page content */


#front-page-image {
    height: 1100px;
    width: 100%;
    background-position: 50% 50%;
    background: url(../images/front-page-image.jpg) no-repeat center center;
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 100px;

    /* INSPIRED BY CODE INSTITUTE, LOVE RUNNING PROJECT*/
animation-name: front-image-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}

#front-page-image-out {
    height: 900px;
    width: 100%;
    overflow: hidden;
}

@keyframes front-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}




/* ----------------------------------- Gallery Page */



.weddings-gallery {
    background-image: url(/assets/images/gallery-top-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 42%;
    height: 350px;
    padding-top: 240px;
    padding-bottom: 20px;
    padding-left: 20px;
    overflow: hidden;
    border:#fafafafa solid 1px;
}

.weddings-gallery h2 {
    padding-bottom: 15px;
}



.gallery-window {
    padding-top: 20px;
    background-color:rgb(173, 74, 74);
}

.card-deck {
    padding-top: 15px;
}

.double-window {
    padding: 10px 5px;
}

.double-window-2 {
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;;
}


.card-title {
    
    font-style: italic;
    font-weight: 600;
    
}

.card h5:hover {
    color: gold;
}

.card a {
    text-decoration: none;
    color: #fafafafa;
}

.card-body {
    background-color:rgb(173, 74, 74);
}



/* ----------------------------------- About Page */


#about-zuzu-section {
    background-color: rgb(173, 74, 74);
}

.about-zuzu-section-row {
    margin-right: 0;
    margin-left: 0;
}

.about-zuzu {
    padding: 10px;
}

.about-zuzu-image {
    background: url(/assets/images/zuzu-valla-profile/Zuzu\ Valla\ Bio.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    margin-top: 40px;
    margin: 20px;
    border:#fafafafa solid 1px;
    border-radius: 4px;
}

.about-zuzu-bg {
    background-color: rgb(173, 74, 74);
}


.about-h2 {
    font-family: "Roboto" sans-serif;
    font-weight: 200;
    font-size: 42px;
    margin: 20px;
    color: #fafafafa;
}


.about-h3 {
   font-family: "Roboto" sans-serif;
   font-weight: 100;
   font-size: 24px;
   margin: 20px;
   color: #fafafafa;
}

.about-p {
   font-family: "Roboto" sans-serif;
   font-weight: 100;
   margin: 20px;
   color: #fafafafa;
}


@media only screen and (max-width: 600px){

.about-h2,
.about-h3,
.about-p {
    text-align: center;
}
}



/* ----------------------------------- Footer */


footer {
    background-color: rgb(173, 74, 74);
    color: #fafafafa;
    min-height: 140px;
    margin-top: 0;
    border-top: 2px solid #fafafafa;
}

.logo-footer {
    font-size: 300%;
    text-align: center;
    color: #fafafafa;
    text-decoration: none;
    margin-top: 5px;
}

.logo-footer a {
    text-decoration: none;
    color: #fafafafa;
}

.logo-footer a:hover {
    color: gold;
}


.social-footer {
    text-align: center;
}


.social-footer i {
    font-size: 22px;
    color: #fafafafa;
    text-align: center;
    
    padding-left: 10px;
    padding-top: 20px;
    
    transition: all 0.35s ease-in-out;
}

.social-footer i:hover {
    color: gold;
    text-decoration: none;
}

.social-footer a {
    font-size: 22px;
    color: #fafafafa;
    text-align: center;
    
    padding-left: 1px;
    margin-top: 20px;
    margin-left: 0px;
    transition: all 0.35s ease-in-out;
}

.social-footer a:hover {
    color: gold;
    text-decoration: none; 
}


.vertical-menu {
      text-align: center;

}



.vertical-menu-footer a {
  background-color: rgb(173, 74, 74); 
  color: #fafafafa; 
  display: block; 
  padding: 2px; 
  text-decoration: none; 
}

.vertical-menu-footer a:hover {
  color: gold; 
}

.vertical-menu-footer a.active-footer {
  color: gold;
  text-decoration: none;
}


