@import url('https://fonts.googleapis.com/css2?family=Questrial:wght@300,400,500,600,700&family=Roboto:wght@300&display=swap');


body {
    font-family: "Questrial", sans-serif;
    color: #fafafafa;
    background-color: whitesmoke;
}


/* ----------------------------------- Header */


p {
    margin-bottom: 40px;
}

.page-header {
  height: 175px;
  margin: 0 auto;
  background-color: rgb(173, 74, 74);
}

.heading-text {
  text-align: center;
  padding-top: 20px;
}

.heading-text p {
    margin-bottom: 40px;
}

.heading-anchor,
.heading-anchor:hover {
    color: #fafafafa;
    text-decoration: none;
}



#header-logo {
    width: 33%;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

#round-logo {
    width: 150px;
    height: 150px;
    padding: 2px;
    border-radius: 50%;
    margin: 1 auto;
}

#logo-image {
    background-image: url(../images/LOGO\ Zuzu\ Valla.jpeg);
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 50%;
}

#menu-bar {
    margin-top: 20px;
    text-align: center;
    font-size: 100%;
    list-style-type: none;
}

#menu-bar li {
    color: #fafafafa;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 50px;
}

#menu-bar a {
    text-decoration: none;
    color: #fafafafa;
}

#menu-bar a:hover {
    border-bottom: 1px dotted #fafafafa;
}

.active {
    border-bottom: 1px solid #fafafafa;
}